<%- include('partials/head.ejs') %>

<div>
  <body class="bg-[#735d78]">
      <%- include('partials/playFeedNav.ejs') %>  
    <div class="container mt-4 min-w-full p-4">
        <div class="mt-5 max-w-lg mx-auto">
            <ul class="list-unstyled mt-5">
                <% for(var i=0; i<posts.length; i++) {%>
                <li class="my-10">
                    <div class="bg-[#ebdee5] shadow-md rounded-md p-4 mb-5">
                        <a href="/post/<%= posts[i]._id %>">
                            <p>
                                <a class="font-semibold hover:underline cursor-pointer text-[333] text-lg" href="userProfile/<%= posts[i].user._id %>"><%= posts[i]. %></a> shared a <a class="text-[#005458] font-semibold" href="">playdate</a>
                            </p>
                            <div class="">
                                <p class="my-3 text-lg">
                                    <%= posts[i].caption %>
                                </p>

                                <div class="rounded-md overflow-hidden">
                                    <img class="img-fluid" src="<%= posts[i].image %>" alt="user picture">
                                </div>
                            </div>
                            <div class="overflow-x-auto relative mt-2">
                                <table class="w-full text-sm text-left">
                                    <thead class="text-sm">
                                        <tr class="text-[#005458]">
                                            <th scope="col" class="px-2">Location</th>
                                            <th scope="col" class="px-2">Friends</th>
                                            <th scope="col" class="px-2">Other Grownups</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="px-2"><%= posts[i].location %></td>
                                            <td class="px-2"><%= posts[i].friends %></td>
                                            <td class="px-2"><%= posts[i].grownups %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex mt-3 p-2 gap-16">
                                <form action="/post/likePost/<%= posts[i]._id %>?_method=PUT">
                                    <button>
                                        <i class="fa-regular fa-heart"></i>
                                        <%= posts[i].likes %>
                                    </button>
                                </form>
                                <div>
                                    <i class="fa-regular fa-message"></i>
                                </div>
                            </div>
                            <form method="POST" action="/comment/createComment/<%= posts[i]._id%>">
                                <div class="mb-6">
                                    <div class="grid grid-cols-5 gap-2 mt-2">
                                        <input type="text" class="col-span-4 form-control block w-full mx-auto grow text-center rounded-md h-12">
                                        <button class="bg-[#735d78] text-[#ebdee5] rounded-md">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </a>
                    </div>
                </li>
         <%   } %>
            </ul>
        </div>
    </div>
  </body>
</div>

<%- include('partials/footer.ejs') %>
