<%- include('partials/head.ejs') %>

<div>
  <body class="bg-[#735d78]">
    <div class="md:flex mt-10 max-w-4xl mx-auto gap-6">
      <div class="md:w-1/4 md:p-4 mx-4">
        <!-- Left Side -->
        <div class="bg-[#ebdee5] shadow-md rounded-md p-4 mb-5">
          <h2 class="text-[#333] text-center text-3xl font-semibold mb-3">
            Navigation
          </h2>
          <a class="flex gap-3 py-3 text-xl" href="/">Home</a>
          <a class="flex gap-3 py-3 text-xl" href="profile">Profile</a>
          <a class="flex gap-3 py-3 text-xl" href="friends">Friends</a>
          <a class="flex gap-3 py-3 text-xl" href="logout">Logout</a>
        </div>
      </div>
      <!--Right Side-->
      
        <div class="container">
            <div class="mt-5 max-w-lg mx-auto">
                <ul class="list-unstyled mt-5">
                    <% for(var i=0; i<posts.length; i++) {%>
                       <li class="my-10">
                        <div class="bg-[#ebdee5] shadow-md rounded-md p-4 mb-5">
                            <a href="/post/<%= posts[i]._id %>">
                                <p class="text-lg">
                                    <a class="font-semibold hover:underline cursor-pointer text-[#333]" href="/userProfile/<%= posts[i].user._id %>"><%= posts[i].user.username %></a> shared a <a class="text-[#005458]  font-semibold" href="/post/<%= posts[i]._id %>">playdate</a>
                                </p>
                                <div>
                                    <p class="my-3 text-lg">
                                        <%= posts[i].caption %>
                                    </p>
                                    <div class="rounded-md overflow-hidden">
                                        <img class="img-fluid" src="<%= posts[i].image %>" alt="user picture">
                                    </div>
                                </div>
                                <div class="overflow-x-auto relative pt-2">
                                    <table class="w-full text-sm text-left">
                                        <thead class="text-sm">
                                            <tr class="text-[#005458]">
                                                <th scope="col" class="px-2">Location</th>
                                                <th scope="col" class="px-2">Friends</th>
                                                <th scope="col" class="px-2">Other Grownups</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="px-2"><%= posts[i].location %></td>
                                                <td class="px-2"><%= posts[i].friends %></td>
                                                <td class="px-2"><%= posts[i].grownups %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-3 flex gap-8">
                                    <form  class="col-1" method="POST" action="/post/likePost/<%= posts[i]._id %>?_method=PUT">
                                        <button  type="submit" class="flex gap-2 items-center">
                                            <i class="fa-regular fa-heart"></i>
                                            <%= posts[i].likes %>
                                        </button>
                                    </form>
                                    <form method="POST" action="/comment/createComment/<%= posts[i]._id%>">
                                        <div class="flex mt-4 gap-3">
                                            <div>
                                                <div class="w-12 rounded-full overflow-hidden">
                                                    <img src='<%= posts[i].username%>' alt="avatar">
                                                </div>
                                            </div>
                                            <textarea class="border grow p-3 px-4 overflow-hidden h-12 rounded-md" placeholder="Comments"></textarea>
                                        </div>

                                        <button type="submit" class="flex gap-2 items-center">
                                            <i class="fa-regular fa-message"></i>
                                            <%= posts[i].comment %>

                                        </button>
                                    </form>
                                    
                                </div>
                                
                
                            </a>
                            
                        </div>
                       </li> 
                  <%  } %>
                </ul>
            </div>
            
        </div>
      

    </div>
  </body>
</div>

<%- include('partials/footer.ejs') %>
