<%- include("partials/head.ejs") %>

<div>
  <body class="bg-[#735d78]">
    <%- include("partials/navbar.ejs") %>
    <div class="container min-w-full mt-8 p-4">
      <div class="mt-5 mx-auto">
        <div class="bg-[#ebdee5] shadow-md rounded-md p-4 mb-5 items-center">
          <div class="md:gap-2 md:flex md:flex-row">
            <img src="<%= post.image%>" alt="" />

            <div class="">
              <p class="my-3 text-lg text-[#333] font-semibold">
                <%= post.caption%>
              </p>

              <table class="w-full text-sm text-left">
                <thead class="text-sm">
                  <tr class="text-[#005458]">
                    <th scope="col" class="px-2">Location</th>
                    <th scope="col" class="px-2">Friends</th>
                    <th scope="col" class="px-2">Other Grownups</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="px-2"><%= post.location %></td>
                    <td class="px-2"><%= post.friends %></td>
                    <td class="px-2"><%= post.grownups %></td>
                  </tr>
                </tbody>
              </table>
              <div>
                <div class="flex mt-3 p-2 gap-16">
                    <form action="/post/likePost/<%= post._id%>?_method=PUT" method="POST" class="inline">
                        <button type="submit">
                            <i class="fa-regular fa-heart">  <%= post.likes %></i> 
                        </button>
                    </form>                             
                </div>
            </div>
              <div class="mt-5 flex">
                <form action="/comment/createComment/<%= post._id%>" method="POST">
                  <input type="text" id="comment" name="comment" class="p-1 rounded-md">
                  <button class="bg-[#735d78] text-[#ebdee5] px-2 md:px-4 p-1 md:p-2 self-center tracking-wider rounded-md" type="submit">Post</button>
                </form>
              </div>
              
              <div class="mt-4 flex flex-wrap p-2">
                <ul>
                    <% for(var j=0; j<comments.length; j++) {%>
                    <li>
                        <span><%= comments[j].user.userName %></span>
                        <span><%= comments[j].comment %></span>
                        <span><%= comments[j].createdAt.toLocaleString([], { hour: "2-digit", minute: "2-digit" }) %></span>
                    </li>
                    <% } %>
                </ul>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

<%- include('partials/footer.ejs') %>
