<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container min-w-full flex flex-1">
    <div class="mt-5 max-w-lg lg:max-w-3xl w-full mx-auto">
        <div class="md:flex md:justify-between">
            <div class="md:text-left my-8 text-center flex flex-col justify-between">
                <p class="text-[#163530] tracking-wider font-semibold my-3 text-xl">
                    <span class="py-1 text-2xl"><%= publicUser.username %></span>
                </p>
            </div>
            <div class="md:my-8 md:text-right md:py-1">
                <% if(publicUser === user) { %>
                    <p class="my-3 text-sm text-gray-500"><%= user.email %></p>
                <% } %>
                <div>
                    <% if(publicUser === user){ %>
                    <a href="/logout" class="px-2 p-1 my-3 uppercase border border-[#163530] text-[#163530] text-sm">Logout</a>
                </div>
            </div>
        </div>
        <span class="mx-auto text-center mt-5 block w-32"></span>
        <div class="mt-5 w-full mx-auto">
            <ul class="flex w-full flex-col my-10 lg:grid lg:grid-cols-3 lg:gap-4">
                <% for(var i=0; i<posts.length; i++) {%>
                <li class="my-3">
                    <a href="/post/<%= posts[i]._id%>">
                        <img class="img-fluid h-full" src="<%= posts[i].image%>">
                    </a>
                </li>    
                <% } %>
            </ul>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>